.main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vh;
}

.btn {
  padding-top: 1rem;
padding-bottom: 1rem; 
padding-left: 1.75rem;
padding-right: 1.75rem; 
background-color: #FCD34D;
font-size: 1.25rem;
line-height: 1.75rem; 
border-radius: 0.75rem;

animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}; 
 

}


.m{
  display: flex; 
flex-direction: column; 
justify-content: center; 
align-items: center; 
width: 100vw; 
height: 100vh; 
}
.indbtn {
  padding-top: 1rem;
  padding-bottom: 1rem; 
  padding-left: 1.75rem;
  padding-right: 1.75rem; 
  margin-bottom: 1.25rem; 
  background-color: #FCD34D; 
  font-size: 1.25rem;
  line-height: 1.75rem; 
  border-radius: 0.75rem; 
  
}

.lgbtn {
  padding-top: 1rem;
  padding-bottom: 1rem; 
  padding-left: 1.75rem;
  padding-right: 1.75rem; 
  background-color: #FCD34D; 
  font-size: 1.25rem;
  line-height: 1.75rem; 
  border-radius: 0.75rem; 
  
}